<div ng-app="myApp" ng-controller="MainCtrl" class="col-lg-12"> 

  <h2 class="white">My Open Subscriptions</h2>
  <hr>
  <table class="table table-hover">
    <tr>
      <th>Customer ID</th>
      <th>Customer Name</th>
      <th>Customer Email</th>
      <th>Subscription Term Name</th>
      <th>Subscription Term ID</th>
      <th>Status</th>
    </tr>
    <tr ng-model=results ng-repeat="result in results">
      <td>{{ result.customer.id }}</td>   
      <td>{{ result.customer.first_name }} {{ result.customer.last_name }}</td>
      <td>{{ result.customer.email }}</td>
      <td>{{ result.term.name }}</td>
      <td>{{ result.term.id }}</td>
      <td>{{ result.status }}</td>
    </tr>
  </table>
</div>
